.appart{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

    h1, p{
        font-weight: 500;
    }

    h1{
        font-size: 36px;
        color: #FF6060;
        margin: 4.5px 0;
    }

    p{
        font-size: 18px;
        margin: 0;
    }

    ul{
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 20px 0 8px 0;

        li{
            list-style: none;
            color: white;
            background-color: #FF6060;
            font-size: 14px;
            font-weight: bold;
            min-width: 95px;
            height: 25px;
            padding: 0 10px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    figure{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0;

        .host-image{
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-left: 10px;
        }

        figcaption{
            font-size: 18px;
            font-weight: 500;
            color: #FF6060;
            display: flex;
            flex-wrap: wrap;
            text-align: right;
            width: 80px;
        }
    }

    .rating{
        display: flex;
        justify-content: flex-end;
        margin-top: 27px;

        .star{
            margin-left: 11px;
        }
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .appart{
        margin: 0 20px;
        flex-direction: column;

        h1{
            font-size: 18px;
            margin: 0;
        }
    
        p{
            font-size: 14px;
            margin: 5px 0 0 0;
        }

        ul{
            gap: 10px;
            margin: 10px 0 16px 0;
            flex-wrap: wrap;
    
            li{
                font-size: 10px;
                min-width: 84px;
                height: 18px;
                padding: 0 5px;
            }
        }

        .host{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            figure{
                .host-image{
                    width: 32px;
                    height: 32px;
                    margin-left: 10.5px;
                }
        
                figcaption{
                    font-size: 12px;
                    width: 60px;
                }
            }

            .rating{
                justify-content: flex-start;
                margin-top: 0;
        
                .star{
                    margin-left: 0;
                    margin-right: 4.5px;
                    width: 13px;
                }
            }
        }
    }
}