.global{
    border-radius: 25px;
    background-position-y: 50%;
    background-blend-mode: darken;
    background-color: #00000060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px 43px 100px;
    max-width: 1240px;
    height: 223px;
}

.banner{
    background-image: url("../assets/banner1.jpg");

    .titre{
        font-size: 48px;
        color: white;
    }
}

.none{
    background-image: url("../assets/banner2.jpg");
}