.container{
    margin: 43px 100px 50px 100px;
    padding: 56px 50px 43px 50px;
    background-color: #F6F6F6;
    border-radius: 25px;

    ul{
        display: grid;
        grid-template-columns: repeat(auto-fill, 340px);
        grid-gap: 50px 60px;
        padding: 0;
        margin: 0;
    
        .card-link{
            text-decoration: none;
        }

        li{
            list-style: none;
            height: 340px;

            img{
                width: 340px;
                height: 340px;
                border-radius: 10px;
            }

            .gradient{
                background-image: linear-gradient(#FFFFFF00 0%, #0A0A0A00 0%, #04040434 20.5%, #00000080 50%);
                z-index: 1;
                width: 340px;
                height: 340px;
                position: relative;
                top: -344px;
                border-radius: 10px;
            }

            p{
                z-index: 2;
                position: relative;
                top: -407px;
                color: white;
                font-size: 18px;
                font-weight: bold;
                margin: 0 20px;
            }
        }
    }
}