.about{
    margin: 38px 208.5px;

    li{
        list-style: none;
        background-color: #FF6060;
        color: white;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 10px 20px 8px 15px;
        font-size: 24px;
        font-weight: bold;
    }
}