.footer{
    width: 100%;
    background-color: black;
    text-align: center;

    .logo{
        padding-top: 66px;
    }

    .copy{
        color: white;
        padding: 29px;
        margin: 0;
    }
}