.footer{
    width: 100%;
    background-color: black;
    text-align: center;

    .logo{
        padding-top: 66px;
    }

    .copy{
        color: white;
        padding: 29px;
        margin: 0;
        font-size: 24px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .footer{
        .copy{
            padding: 16px 0 58px 0;
            font-size: 12px;
            max-width: 130px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    } 
}