.gallery{
    margin: 50px 100px 30px 100px;
    height: 415px;
    
    .slide{
        height: 415px;
        display: none;
    }

    .active{
        display: block;
    }

    .image{
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .arrow{
        z-index: 1;
        position: absolute;
        top: 340px;
    }

    .prev-arrow{
        left: 123px;
        transform: rotate(-180deg);
    }

    .next-arrow{
        right: 123px;
    }

    .number{
        z-index: 1;
        position: relative;
        text-align: center;
        top: -62px;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .gallery{
        margin: 27px 20px 15px 20px;
        height: 255px;

        .slide{
            height: 255px;
        }

        .image{
            height: 255px;
        }

        .arrow{
            top: 211.5px;
            height: 20px;
        }

        .prev-arrow{
            left: 26px;
        }
    
        .next-arrow{
            right: 26px;
        }

        .number{
            top: -45px;
            font-size: 12px;
        }
    }
}